{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ equipment.name }} Details - Gymception</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="all-container">
            
            <div class="nav-bar-container">

                <div class="nav-bar-logo">
                  <h1><span class="gym">Gym</span><span class="ception">ception</span></h1>
                </div>
          
                <div class="nav-bar-links">
          
                  <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="{% url 'home' %}">Home</a>
                        {% if user.is_authenticated %}
                          <a href="{% url 'profile' %}">Profile</a>
                          <form action="{% url 'logout' %}" method="post" style="display: inline;">
                              {% csrf_token %}
                              <input type="submit" value="Log Out" class="dropdown-link-button">
                          </form>
                        {% else %}
                          <a href="{% url 'login' %}">Log In</a>
                          <a href="{% url 'signup' %}">Sign Up</a>
                        {% endif %}
                      </div>
                  </div>
              
                </div>
              
            </div>

            <div class="equipment-detail-container">
                <h1>{{ equipment.name }}</h1>
                <p>{{ equipment.description }}</p>

                {% if not in_queue %}
                    <form method="post" action="{% url 'join-queue' equipment.id %}">
                        {% csrf_token %}
                        <button type="submit">Join Queue</button>
                    </form>
                {% else %}
                    <p>You are currently in position {{ user_position }} in the queue.</p>
                    <form method="post" action="{% url 'leave-queue' equipment.id %}">
                        {% csrf_token %}
                        <button type="submit" class="leave-queue-button">Leave Queue</button>
                    </form>
                {% endif %}

                <h2>Current Queue:</h2>
                {% if queue %}
                    <ol>
                        {% for entry in queue %}
                            <li>{{ entry.user.username }} joined at {{ entry.join_time }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No one is currently in the queue.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
