async-timeout==4.0.3
celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
Django==5.0.4
django-allauth==0.62.1
django-celery-beat==2.6.0
django-extensions==3.2.3
django-heroku
django-push-notifications==3.0.2
django-timezone-field==6.1.0
fcm-django==2.0.1
firebase-admin==6.5.0
fontawesomefree==6.5.1
fonttools==4.50.0
google-auth==2.29.0
pyfcm==1.5.4
redis==5.0.4
requests==2.32.2
websocket-client==1.7.0
pywebpush
uvicorn
dj_database_url
django-environ
psycopg2-binary