.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;

}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
/* Container for the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
/* Change the background color of the dropbtn on hover */
.dropbtn:hover {
    background-color: #3e8e41;
}

.list-container {
    width: 90%; /* Adjust as needed for your layout */
    max-height: 80vh; /* Adjust based on your header/footer sizes */
    overflow-y: scroll;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(0,0,0,0.8); /* Semi-transparent white */
    border-radius: 10px;
  }
  
  .list-container h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .list-container ul {
    list-style: none;
    padding: 0;
  }
  
  .list-container li {
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent black for the box */
    border: 1px solid #444; /* Dark border for the box */
    border-radius: 5px;
    margin-bottom: 10px; /* Space between boxes */
    padding: 15px;
    color: #ffffff; /* Text color */
  }
  
  .list-container li h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .list-container li p {
    font-size: 0.9em;
    line-height: 1.4;
  }
  
  .list-container li a {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 10px;
    background-color: #e74c3c; /* Button color */
    color: #ffffff; /* Button text color */
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
  }
  
  .list-container li a:hover {
    background-color: #c0392b; /* Button hover color */
  }